In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
%time 
query = """
SELECT COUNT(*) FROM green_taxi_trips 
WHERE lpep_pickup_datetime >= '2019-01-15 00:00:00' AND lpep_dropoff_datetime < '2019-01-16 00:00:00'
"""

pd.read_sql(query, con=engine)

CPU times: total: 0 ns
Wall time: 0 ns

   count
0  20530

In [4]:
%time 
query = """
SELECT lpep_pickup_datetime,lpep_dropoff_datetime 
FROM green_taxi_trips
WHERE trip_distance = (SELECT MAX(trip_distance) FROM green_taxi_trips)
"""

pd.read_sql(query, con=engine)

CPU times: total: 0 ns
Wall time: 0 ns

  lpep_pickup_datetime lpep_dropoff_datetime
0  2019-01-15 19:27:58   2019-01-15 22:59:01

In [5]:
%time 
query = """
SELECT passenger_count, COUNT(*) 
FROM green_taxi_trips
WHERE (passenger_count = 2 OR passenger_count = 3)
AND lpep_pickup_datetime >= '2019-01-01 00:00:00'
AND lpep_pickup_datetime < '2019-01-02 00:00:00'
Group by passenger_count
"""

pd.read_sql(query, con=engine)

CPU times: total: 0 ns
Wall time: 0 ns

   passenger_count  count
0                2   1282
1                3    254

In [6]:
query = """
SELECT z."Zone"
FROM zones as z
WHERE z."LocationID" =(SELECT g."DOLocationID"
FROM green_taxi_trips as g
WHERE g."PULocationID" =  (SELECT z."LocationID"
FROM zones as z
WHERE z."Zone" = 'Astoria'
LIMIT 1 )
GROUP BY g."DOLocationID"
ORDER BY MAX(Tip_amount) DESC
LIMIT 1)
"""



pd.read_sql(query, con=engine)

                            Zone
0  Long Island City/Queens Plaza