In [1]:
import pandas as pd

In [6]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2023-01-25 17:07:33--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230125%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230125T150733Z&X-Amz-Expires=300&X-Amz-Signature=eb0989e6bb3c6ba4099571915087314175fadbc778adf5141f429144cb4f5006&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-25 17:07:34--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230125%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230125T150733Z&X-Amz-Expires=300&X-Amz-Signature=eb0989e6bb3c6ba4099571915087314175fadbc778adf5141f429144cb4f5006&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: 'green_tripdata_2019-01.csv.gz'

     0K .......... .......... .......... .......... ..........  0%  671K 16s
    50K .......... .......... .......... .......... ..........  0% 1.07M 13s
   100K .......... .......... .......... .......... ..........  1% 1.34M 11s
   150K .......... .......... .......... .......... ..........  1% 2.01M 10s
   200K .......... .......... .......... .......... ..........  2% 1.91M 9s
   250K .......... .......... .......... .......... ..........  2% 1.64M 8s
   300K .......... .......... .......... .......... ..........  3% 2.43M 8s
   350K .......... .......... .......... .......... ..........  3% 1.35M 8s
   400K .......... .......... .......... .......... ..........  4% 1.68M 7s
   450K .......... .......... .......... .......... ..........  4%  322K 10s
   500K .......... .......... .......... .......... ..........  5% 87.5M 9s
   550K .......... .......... .......... .......... ..........  5%  167M 8s
   600K .......... .......... .......... .......... ..........  5%  753K 9s
   650K .......... .......... .......... .......... ..........  6% 90.1M 8s
   700K .......... .......... .......... .......... ..........  6%  172M 7s
   750K .......... .......... .......... .......... ..........  7%  344K 9s
   800K .......... .......... .......... .......... ..........  7% 2.04M 8s
   850K .......... .......... .......... .......... ..........  8% 1.57M 8s
   900K .......... .......... .......... .......... ..........  8% 1.80M 8s
   950K .......... .......... .......... .......... ..........  9% 2.25M 8s
  1000K .......... .......... .......... .......... ..........  9% 1.75M 8s
  1050K .......... .......... .......... .......... .......... 10% 1.45M 8s
  1100K .......... .......... .......... .......... .......... 10% 2.33M 7s
  1150K .......... .......... .......... .......... .......... 11% 1.26M 7s
  1200K .......... .......... .......... .......... .......... 11% 2.28M 7s
  1250K .......... .......... .......... .......... .......... 11% 1.49M 7s
  1300K .......... .......... .......... .......... .......... 12% 2.01M 7s
  1350K .......... .......... .......... .......... .......... 12% 2.27M 7s
  1400K .......... .......... .......... .......... .......... 13% 1.80M 7s
  1450K .......... .......... .......... .......... .......... 13% 2.00M 7s
  1500K .......... .......... .......... .......... .......... 14% 1.63M 7s
  1550K .......... .......... .......... .......... .......... 14% 1.64M 7s
  1600K .......... .......... .......... .......... .......... 15% 1.45M 6s
  1650K .......... .......... .......... .......... .......... 15% 2.43M 6s
  1700K .......... .......... .......... .......... .......... 16% 1.99M 6s
  1750K .......... .......... .......... .......... .......... 16%  324K 7s
  1800K .......... .......... .......... .......... .......... 17% 2.20M 7s
  1850K .......... .......... .......... .......... .......... 17%  179M 6s
  1900K .......... .......... .......... .......... .......... 17%  368M 6s
  1950K .......... .......... .......... .......... .......... 18%  127M 6s
  2000K .......... .......... .......... .......... .......... 18%  154M 6s
  2050K .......... .......... .......... .......... .......... 19% 3.07M 6s
  2100K .......... .......... .......... .......... .......... 19%  931K 6s
  2150K .......... .......... .......... .......... .......... 20% 1009K 6s
  2200K .......... .......... .......... .......... .......... 20% 1.04M 6s
  2250K .......... .......... .......... .......... .......... 21% 1.98M 6s
  2300K .......... .......... .......... .......... .......... 21% 1.74M 6s
  2350K .......... .......... .......... .......... .......... 22% 1.19M 6s
  2400K .......... .......... .......... .......... .......... 22% 2.57M 6s
  2450K .......... .......... .......... .......... .......... 23% 1.65M 6s
  2500K .......... .......... .......... .......... .......... 23% 2.10M 6s
  2550K .......... .......... .......... .......... .......... 23% 1.72M 6s
  2600K .......... .......... .......... .......... .......... 24% 1.64M 5s
  2650K .......... .......... .......... .......... .......... 24% 2.60M 5s
  2700K .......... .......... .......... .......... .......... 25% 1.75M 5s
  2750K .......... .......... .......... .......... .......... 25% 1.38M 5s
  2800K .......... .......... .......... .......... .......... 26% 1.64M 5s
  2850K .......... .......... .......... .......... .......... 26% 1.97M 5s
  2900K .......... .......... .......... .......... .......... 27% 2.07M 5s
  2950K .......... .......... .......... .......... .......... 27% 1.72M 5s
  3000K .......... .......... .......... .......... .......... 28% 1.66M 5s
  3050K .......... .......... .......... .......... .......... 28% 2.33M 5s
  3100K .......... .......... .......... .......... .......... 29% 1.87M 5s
  3150K .......... .......... .......... .......... .......... 29% 1.39M 5s
  3200K .......... .......... .......... .......... .......... 29% 2.03M 5s
  3250K .......... .......... .......... .......... .......... 30% 2.05M 5s
  3300K .......... .......... .......... .......... .......... 30% 1.61M 5s
  3350K .......... .......... .......... .......... .......... 31% 1.64M 5s
  3400K .......... .......... .......... .......... .......... 31% 2.49M 5s
  3450K .......... .......... .......... .......... .......... 32% 1.77M 5s
  3500K .......... .......... .......... .......... .......... 32% 1.69M 5s
  3550K .......... .......... .......... .......... .......... 33% 1.38M 5s
  3600K .......... .......... .......... .......... .......... 33% 1.96M 5s
  3650K .......... .......... .......... .......... .......... 34% 1.78M 5s
  3700K .......... .......... .......... .......... .......... 34% 1.92M 4s
  3750K .......... .......... .......... .......... .......... 35% 1.71M 4s
  3800K .......... .......... .......... .......... .......... 35% 2.14M 4s
  3850K .......... .......... .......... .......... .......... 35% 1.64M 4s
  3900K .......... .......... .......... .......... .......... 36% 2.02M 4s
  3950K .......... .......... .......... .......... .......... 36% 1.41M 4s
  4000K .......... .......... .......... .......... .......... 37% 1.64M 4s
  4050K .......... .......... .......... .......... .......... 37% 2.64M 4s
  4100K .......... .......... .......... .......... .......... 38% 1.63M 4s
  4150K .......... .......... .......... .......... .......... 38% 1.65M 4s
  4200K .......... .......... .......... .......... .......... 39% 2.49M 4s
  4250K .......... .......... .......... .......... .......... 39% 1.55M 4s
  4300K .......... .......... .......... .......... .......... 40% 1.87M 4s
  4350K .......... .......... .......... .......... .......... 40% 1.49M 4s
  4400K .......... .......... .......... .......... .......... 41% 1.52M 4s
  4450K .......... .......... .......... .......... .......... 41% 2.23M 4s
  4500K .......... .......... .......... .......... .......... 41% 1.90M 4s
  4550K .......... .......... .......... .......... .......... 42% 1.68M 4s
  4600K .......... .......... .......... .......... .......... 42% 1.92M 4s
  4650K .......... .......... .......... .......... .......... 43% 2.19M 4s
  4700K .......... .......... .......... .......... .......... 43% 1.72M 4s
  4750K .......... .......... .......... .......... .......... 44% 1.38M 4s
  4800K .......... .......... .......... .......... .......... 44% 2.09M 4s
  4850K .......... .......... .......... .......... .......... 45% 1.72M 4s
  4900K .......... .......... .......... .......... .......... 45% 1.98M 4s
  4950K .......... .......... .......... .......... .......... 46% 1.65M 4s
  5000K .......... .......... .......... .......... .......... 46% 2.08M 4s
  5050K .......... .......... .......... .......... .......... 47% 1.63M 3s
  5100K .......... .......... .......... .......... .......... 47% 2.27M 3s
  5150K .......... .......... .......... .......... .......... 47% 1.46M 3s
  5200K .......... .......... .......... .......... .......... 48% 1.75M 3s
  5250K .......... .......... .......... .......... .......... 48% 1.97M 3s
  5300K .......... .......... .......... .......... .......... 49% 1.96M 3s
  5350K .......... .......... .......... .......... .......... 49% 1.70M 3s
  5400K .......... .......... .......... .......... .......... 50% 1.67M 3s
  5450K .......... .......... .......... .......... .......... 50% 2.07M 3s
  5500K .......... .......... .......... .......... .......... 51% 1.71M 3s
  5550K .......... .......... .......... .......... .......... 51% 1.53M 3s
  5600K .......... .......... .......... .......... .......... 52% 1.82M 3s
  5650K .......... .......... .......... .......... .......... 52% 2.00M 3s
  5700K .......... .......... .......... .......... .......... 53% 1.88M 3s
  5750K .......... .......... .......... .......... .......... 53% 1.85M 3s
  5800K .......... .......... .......... .......... .......... 53% 1.91M 3s
  5850K .......... .......... .......... .......... .......... 54% 1.53M 3s
  5900K .......... .......... .......... .......... .......... 54% 2.25M 3s
  5950K .......... .......... .......... .......... .......... 55% 1.57M 3s
  6000K .......... .......... .......... .......... .......... 55% 1.46M 3s
  6050K .......... .......... .......... .......... .......... 56% 2.23M 3s
  6100K .......... .......... .......... .......... .......... 56% 1.57M 3s
  6150K .......... .......... .......... .......... .......... 57% 2.08M 3s
  6200K .......... .......... .......... .......... .......... 57% 2.02M 3s
  6250K .......... .......... .......... .......... .......... 58% 1.67M 3s
  6300K .......... .......... .......... .......... .......... 58% 2.04M 3s
  6350K .......... .......... .......... .......... .......... 59% 1.25M 3s
  6400K .......... .......... .......... .......... .......... 59% 2.41M 3s
  6450K .......... .......... .......... .......... .......... 59% 1.88M 3s
  6500K .......... .......... .......... .......... .......... 60% 1.87M 3s
  6550K .......... .......... .......... .......... .......... 60% 1.67M 3s
  6600K .......... .......... .......... .......... .......... 61% 2.01M 2s
  6650K .......... .......... .......... .......... .......... 61% 1.66M 2s
  6700K .......... .......... .......... .......... .......... 62% 2.58M 2s
  6750K .......... .......... .......... .......... .......... 62% 1.14M 2s
  6800K .......... .......... .......... .......... .......... 63% 1.78M 2s
  6850K .......... .......... .......... .......... .......... 63% 2.32M 2s
  6900K .......... .......... .......... .......... .......... 64% 1.95M 2s
  6950K .......... .......... .......... .......... .......... 64% 1.88M 2s
  7000K .......... .......... .......... .......... .......... 65% 1.69M 2s
  7050K .......... .......... .......... .......... .......... 65% 2.03M 2s
  7100K .......... .......... .......... .......... .......... 65% 1.64M 2s
  7150K .......... .......... .......... .......... .......... 66% 1.57M 2s
  7200K .......... .......... .......... .......... .......... 66% 2.10M 2s
  7250K .......... .......... .......... .......... .......... 67% 1.74M 2s
  7300K .......... .......... .......... .......... .......... 67% 1.68M 2s
  7350K .......... .......... .......... .......... .......... 68% 2.03M 2s
  7400K .......... .......... .......... .......... .......... 68% 1.98M 2s
  7450K .......... .......... .......... .......... .......... 69% 1.72M 2s
  7500K .......... .......... .......... .......... .......... 69% 2.03M 2s
  7550K .......... .......... .......... .......... .......... 70% 1.31M 2s
  7600K .......... .......... .......... .......... .......... 70% 1.97M 2s
  7650K .......... .......... .......... .......... .......... 71% 1.92M 2s
  7700K .......... .......... .......... .......... .......... 71% 1.66M 2s
  7750K .......... .......... .......... .......... .......... 71% 2.20M 2s
  7800K .......... .......... .......... .......... .......... 72% 1.82M 2s
  7850K .......... .......... .......... .......... .......... 72% 1.74M 2s
  7900K .......... .......... .......... .......... .......... 73% 1.84M 2s
  7950K .......... .......... .......... .......... .......... 73% 1.29M 2s
  8000K .......... .......... .......... .......... .......... 74% 2.08M 2s
  8050K .......... .......... .......... .......... .......... 74% 2.07M 2s
  8100K .......... .......... .......... .......... .......... 75% 1.80M 2s
  8150K .......... .......... .......... .......... .......... 75% 1.80M 2s
  8200K .......... .......... .......... .......... .......... 76% 2.06M 2s
  8250K .......... .......... .......... .......... .......... 76% 1.72M 1s
  8300K .......... .......... .......... .......... .......... 77% 1004K 1s
  8350K .......... .......... .......... .......... .......... 77% 5.45M 1s
  8400K .......... .......... .......... .......... .......... 77% 1.90M 1s
  8450K .......... .......... .......... .......... .......... 78% 1.78M 1s
  8500K .......... .......... .......... .......... .......... 78% 1.52M 1s
  8550K .......... .......... .......... .......... .......... 79% 2.79M 1s
  8600K .......... .......... .......... .......... .......... 79% 1.46M 1s
  8650K .......... .......... .......... .......... .......... 80% 2.63M 1s
  8700K .......... .......... .......... .......... .......... 80% 1.63M 1s
  8750K .......... .......... .......... .......... .......... 81% 1.44M 1s
  8800K .......... .......... .......... .......... .......... 81% 1.80M 1s
  8850K .......... .......... .......... .......... .......... 82% 1.58M 1s
  8900K .......... .......... .......... .......... .......... 82% 2.21M 1s
  8950K .......... .......... .......... .......... .......... 83% 2.03M 1s
  9000K .......... .......... .......... .......... .......... 83% 1.99M 1s
  9050K .......... .......... .......... .......... .......... 83% 1.71M 1s
  9100K .......... .......... .......... .......... .......... 84% 1.66M 1s
  9150K .......... .......... .......... .......... .......... 84% 1.40M 1s
  9200K .......... .......... .......... .......... .......... 85% 2.08M 1s
  9250K .......... .......... .......... .......... .......... 85% 1.94M 1s
  9300K .......... .......... .......... .......... .......... 86% 2.08M 1s
  9350K .......... .......... .......... .......... .......... 86% 1.72M 1s
  9400K .......... .......... .......... .......... .......... 87% 1.99M 1s
  9450K .......... .......... .......... .......... .......... 87% 1.95M 1s
  9500K .......... .......... .......... .......... .......... 88% 1.54M 1s
  9550K .......... .......... .......... .......... .......... 88% 1.55M 1s
  9600K .......... .......... .......... .......... .......... 89% 1.73M 1s
  9650K .......... .......... .......... .......... .......... 89% 1.91M 1s
  9700K .......... .......... .......... .......... .......... 89% 2.18M 1s
  9750K .......... .......... .......... .......... .......... 90% 1.58M 1s
  9800K .......... .......... .......... .......... .......... 90% 2.18M 1s
  9850K .......... .......... .......... .......... .......... 91% 1.63M 1s
  9900K .......... .......... .......... .......... .......... 91% 2.11M 1s
  9950K .......... .......... .......... .......... .......... 92% 1.32M 0s
 10000K .......... .......... .......... .......... .......... 92% 1.84M 0s
 10050K .......... .......... .......... .......... .......... 93% 2.08M 0s
 10100K .......... .......... .......... .......... .......... 93% 1.75M 0s
 10150K .......... .......... .......... .......... .......... 94% 1.95M 0s
 10200K .......... .......... .......... .......... .......... 94% 1.70M 0s
 10250K .......... .......... .......... .......... .......... 95% 1.99M 0s
 10300K .......... .......... .......... .......... .......... 95% 1.45M 0s
 10350K .......... .......... .......... .......... .......... 95% 1.80M 0s
 10400K .......... .......... .......... .......... .......... 96% 1.67M 0s
 10450K .......... .......... .......... .......... .......... 96% 2.12M 0s
 10500K .......... .......... .......... .......... .......... 97% 1.70M 0s
 10550K .......... .......... .......... .......... .......... 97% 1.72M 0s
 10600K .......... .......... .......... .......... .......... 98% 2.15M 0s
 10650K .......... .......... .......... .......... .......... 98% 1.73M 0s
 10700K .......... .......... .......... .......... .......... 99% 2.42M 0s
 10750K .......... .......... .......... .......... .......... 99% 1.43M 0s
 10800K .......... .......... .......... .........            100% 1.02M=6.2s

2023-01-25 17:07:41 (1.69 MB/s) - 'green_tripdata_2019-01.csv.gz' saved [11099245/11099245]

In [7]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-25 17:07:55--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.134.88, 54.231.167.104, 52.217.104.78, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.134.88|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv.1'

     0K .......... ..                                         100%  190K=0.06s

2023-01-25 17:07:56 (190 KB/s) - 'taxi+_zone_lookup.csv.1' saved [12322/12322]

```bash
pip install sqlalchemy psycopg2-binary 
```

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
engine.connect()

In [28]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [29]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [30]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [31]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [32]:
print(pd.io.sql.get_schema(df,name="yello_taxi_data",con=engine))

CREATE TABLE yello_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [33]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [34]:
df.to_sql(name='yellow_tripdata_trip', con=engine, index=False)

100

In [35]:
%time 
query = """
SELECT * FROM yellow_tripdata_trip LIMIT 10
"""

pd.read_sql(query, con=engine)

CPU times: total: 0 ns
Wall time: 0 ns

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/