In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('green_tripdata_2019-01.csv')

In [3]:
df.head(20)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.00,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.00,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.00,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.00,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.00,NaN,0.3,19.30,2,1,NaN
5,2,2019-01-01 00:12:35,2019-01-01 00:19:09,N,1,49,17,1,1.05,6.5,0.5,0.5,0.00,0.00,NaN,0.3,7.80,1,1,NaN
6,2,2019-01-01 00:47:55,2019-01-01 01:00:01,N,1,255,33,1,3.77,13.5,0.5,0.5,0.00,0.00,NaN,0.3,14.80,1,1,NaN
7,1,2019-01-01 00:12:47,2019-01-01 00:30:50,N,1,76,225,1,4.10,16.0,0.5,0.5,0.00,0.00,NaN,0.3,17.30,1,1,NaN
8,2,2019-01-01 00:16:23,2019-01-01 00:39:46,N,1,25,89,1,7.75,25.5,0.5,0.5,0.00,0.00,NaN,0.3,26.80,1,1,NaN
9,2,2019-01-01 00:58:02,2019-01-01 01:19:02,N,1,85,39,1,3.68,15.5,0.5,0.5,0.00,0.00,NaN,0.3,16.80,1,1,NaN
10,2,2019-01-01 00:37:00,2019-01-01 00:56:42,N,1,223,238,1,6.84,22.0,0.5,0.5,8.00,5.76,NaN,0.3,37.06,1,1,NaN
11,2,2019-01-01 00:13:48,2019-01-01 00:21:00,N,1,129,129,2,1.15,6.5,0.5,0.5,1.56,0.00,NaN,0.3,9.36,1,1,NaN
12,2,2019-01-01 00:19:59,2019-01-01 00:45:50,N,1,71,71,1,0.49,15.5,0.5,0.5,0.00,0.00,NaN,0.3,16.80,1,1,NaN
13,2,2019-01-01 00:57:57,2019-01-01 01:20:10,N,1,85,177,1,3.61,17.0,0.5,0.5,0.00,0.00,NaN,0.3,18.30,1,1,NaN
14,1,2019-01-01 00:09:02,2019-01-01 00:17:50,N,1,256,80,1,1.20,7.5,0.5,0.5,5.20,0.00,NaN,0.3,14.00,1,1,NaN
15,1,2019-01-01 00:22:12,2019-01-01 00:25:29,N,1,80,80,1,0.50,4.0,0.5,0.5,0.00,0.00,NaN,0.3,5.30,2,1,NaN
16,1,2019-01-01 00:31:55,2019-01-01 00:52:59,N,1,256,229,1,5.50,19.5,0.5,0.5,4.15,0.00,NaN,0.3,24.95,1,1,NaN
17,2,2019-01-01 00:30:20,2019-01-01 00:54:19,N,1,255,231,1,5.01,20.0,0.5,0.5,4.26,0.00,NaN,0.3,25.56,1,1,NaN
18,2,2018-12-31 23:58:06,2019-01-01 00:00:57,N,1,146,7,1,0.43,4.0,0.5,0.5,1.06,0.00,NaN,0.3,6.36,1,1,NaN
19,2,2019-01-01 00:40:17,2019-01-01 00:50:23,N,1,146,129,1,2.72,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,NaN

In [5]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
print(pd.io.sql.get_schema(df, name='green_taxi_trips', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [30]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [31]:
df = next(df_iter)

In [32]:
len(df)

100000

In [33]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [34]:
df.head(n=0).to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

0

In [35]:
%time df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

CPU times: total: 2.56 s
Wall time: 7.82 s

1000

In [36]:
from time import time

In [38]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 8.063 second
inserted another chunk, took 8.296 second
inserted another chunk, took 8.008 second
inserted another chunk, took 8.210 second
inserted another chunk, took 2.903 second

StopIteration: